@page
@model Apteka_razor.Pages.Drugs.DrugsModel
@{
    ViewData["Title"] = "Список лекарств";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Производитель</th>
            <th>Цена</th>
            <th>Срок годности</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drug in Model.DrugList)
        {
            <tr>
                <td>@drug.Name</td>
                <td>@drug.Manufacturer</td>
                <td>@drug.Price</td>
                <td>@drug.ExpirationDate?.ToShortDateString()</td>

            </tr>
        }
    </tbody>
</table>
